<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Mussabekov Rustem</string>
	<key>Builder Version</key>
	<string>9537.71</string>
	<key>CFBundleDisplayName</key>
	<string>Raindrop.io</string>
	<key>CFBundleIdentifier</key>
	<string>io.raindrop</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<string></string>
				<key>Identifier</key>
				<string>popupOblako</string>
				<key>Width</key>
				<real>460</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>buttonOblako</string>
				<key>Image</key>
				<string>icons/16.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Raindrop.io</string>
				<key>Palette Label</key>
				<string>Raindrop.io</string>
				<key>Popover</key>
				<string>popupOblako</string>
				<key>Tool Tip</key>
				<string>Сохранить страницу в Raindrop.io</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>inject.js</string>
				<string>browsers/inject.js</string>
				<string>libs/jquery.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Ваши умные закладки. Красивый способ запомнить самое важное.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://raindrop.io</string>
</dict>
</plist>
